* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    padding: 15px 0;
    gap: 5px;
    background-color: white;
}

.jcs {
    justify-content: space-evenly;
}

.ali {
    align-items: center;
}

.nev-bar {
    margin-bottom: 10px;
}

.header-logo img {
    width: 75px;
    margin-top: 6px;
}

.Search-box input {
    background-color: #F5F5F5;
    border: none;
    height: 52px;
    width: 249px;
    border-radius: 8px;
    text-align: center;
}


input::placeholder {
    text-align: center;
    margin-right: 90px;
}

.fa-solid {
    position: absolute;
    color: #989898;
    padding: 10px;
    margin-left: 19px;
    font-size: 19px;
    margin-top: 4px;
}

ul li a {
    /* font-size: 23px; */
    /* color: #ffffff; */
    font-weight: 400;
    font-family: "Montserrat";
    text-decoration: none;
}

ul li {
    list-style: none;
}

.home a {
    color: black;
    font-size: 20px;
    gap: 2px;
}


.fa-solid fa-cart-shopping {
    /* position: absolute; */
    color: #989898;
    padding: 10px;
}



.fe-icon {
    display: flex;
    gap: 18px;
}

.fe-icon i {
    font-size: 25px;

}

.navbar {
    margin-top: 5px;
    gap: 10px;
}


li {
    list-style-type: none;
    padding: 0px 30px;
}


/* <!-- section one --> */

.sec-one-left {
    background-color: #211C24;
    height: 632px;
    width: 1263px;
    display: flex;
    gap: 16px;
    padding: 95px;
    padding-top: 118px;
    flex-direction: column;
    justify-content: cente
}

.sec-one {
    display: flex;
}

.pro {
    color: #ffffff;
    opacity: 24%;
    font-size: 25px;
}

.iphon h1 {
    color: #ffffff;
    font-size: 96px;
    font-weight: 100;
}

.in-pro {
    color: #F5F5F5;
    font-weight: bold;
}

.cre-ev {
    color: #909090;
    font-size: 18px;
}

.shop {
    height: 56px;
    width: 191px;
    background-color: #211C24;
    border: 1px solid white;
    color: #ffffff;
    font-size: 16px;
    border-radius: 6px;
    padding: 18px;
    text-align: center;
}

.iph-img {

    height: 632px;
    width: 406px;
    position: absolute;
    background-color: #211C24;
    right: 85px;
}

.po-re {
    position: relative;
}

/* <!-- section one end --> */

/* <!-- section two --> */

.sec-two {
    display: flex;
}

.sec-two-all-di {
    display: flex;
}

.sec-two-all {
    display: flex;
}

.sec-two-left {
    display: flex;
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
}

.col-50 {
    width: 50%;
}

.pla-yst img {
    width: 100%;

}

.pla-yst {
    display: flex;
    /* height: 328px; */
}

.playstation h3 {
    font-size: 49px;
    margin-top: 80px;
}

.io {
    font-size: 14px;
    padding: 34px;
    color: #909090;
    padding-left: 3px;
}

.sq {
    display: flex;
}

.sq-ba {
    display: flex;
}

.text-titel {
    display: flex;
    background-color: #EDEDED;
    width: 360px;
}

.col-25 {
    width: 25%;
}

.apple-air-pods {
    display: flex;
    gap: 48px;
}

.apple-air-max {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.apple-air-max-pods {
    font-weight: 200;
    font-size: 29px;
    /* line-height: 40px; */
}

.apple-air-pods-max-span {
    font-weight: 500;
    /* line-height: 40px; */
    font-size: 29px;
}

.com-pow {
    color: #909090;
    font-size: 14px;
}

.sq-ba2 {
    display: flex;
}

.text-titel2 {
    display: flex;
    background-color: #353535;
    width: 360px;
    height: 277px;
}

.apple-vr-pro {
    display: flex;
    gap: 20px;
}

.apple-vr-pro img {
    width: 45%;

}

.apple-vr-max {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.apple-vr-max-p {
    font-weight: 200;
    font-size: 29px;
    color: #ffffff;
}

.apple-vr-max-span {
    font-weight: 500;
    font-size: 29px;
    color: #ffffff;
}

.an-ex {
    color: #909090;
    font-size: 14px;
}

.sq-ban-mac {
    display: flex;
}

.sq-ba {
    display: flex;
}
.sq-ma2{
    display: flex;
}

.text-titel3 {
    display: flex;
    background-color: #EDEDED;

}

.apple-mac-img {
    /* width: 100%; */

}

.apple-mac-pro {
    display: flex;
    /* flex-wrap: wrap; */
}

.apple-mac-max {
    display: flex;
}

.apple-mac-p {
    font-weight: 100;
    font-size: 64px;
}

.apple-mac-span {
    font-size: 64px;
    font-weight: 500;
}

.new-50 {
    color: #909090;
    font-size: 14px;
}

.mac-sho {
    height: 56px;
    width: 191px;
    /* background-color: #211C24; */
    border: 1px solid black;
    /* color: #ffffff; */
    font-size: 16px;
    border-radius: 6px;
    padding: 18px;
    text-align: center;
}